body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.main {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  margin: 1% 10% 0.5% 10%;
  border: 1px solid black;
  border-radius: 5%;
    background-color: rgb(202, 200, 200);

}
.header {
  max-height: 9vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
#logo {
  max-width: 9vh;
  max-height: 9vh;
}
.page-body {
  min-height: 70vh;
  min-width: 70vw;

  justify-content: center;
  align-items: center;
}

.footer {
  max-height: 5vh;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-content-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
#apod {
  height: 60vh;
  width: 40vw;
  margin-left: 5vw;
}
span {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.2rem;
}
#exp {
  font-style: italic;

margin-left: 5vw;
margin-right: 5vw;
min-height: auto;
  margin-bottom: 0rem;
  font-size: 0.8rem;

}
#copyright {
  text-align: center;
}
h3 {
  padding: 0;
  margin: 0.5rem;
}
